# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List  of popular languages for Data Science
* List of commonly used libraries for Data Science 
* Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

| Data Science Tools |

| Jupyter |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [16]:
200/60

3.3333333333333335

## Author
Dennis Salgado